@{
    ViewData["Title"] = "Home Page";
}
@*Html est un langage de description pour les pages web => langage de balises
    balise  head
    balise de type block, div, p, table, header, footer, section, article, aside, main, nav, ul => li
    balise de type en line span, a, <img >
    balise de type block titre h1->6
    chaque balise a des attributs => configuration de la balise, class, id
    par exemple attribut href => a, la cible du lien

*@
@*<h1>Titre principal</h1>
<div>
    <h2>Titre block 1</h2>
    <article>Article 1</article>
    <span>contenu 1</span>
    <span>contenu 2</span>
    <a href="http://goolge.com">google</a>
</div>
<p>
    <h2>Titre p 1</h2>
    block 2
</p>
<ul>
    <li>Element 1</li>
    <li>Element 2</li>
    <li>Element 3</li>
</ul>
<ol>
    <li>Element 1</li>
    <li>Element 2</li>
    <li>Element 3</li>
</ol>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq9oQnYCbLTPS5o5aAziKC6p4VLEFHoHIS97svAcjEcyVSt5cd6wGUEGoTAI5x-3OcnwtD6Q&usqp=CAc" />*@
@*<header>
    <div>
        <img src="https://media.istockphoto.com/vectors/avatar-icon-avatar-flat-symbol-isolated-on-white-vector-id1028085402" />
    </div>
    <div>
        <ul>
            <li>Nom prénom</li>
            <li>Adresse</li>
            <li>perso</li>
        </ul>
    </div>
</header>
<main>
    <section id="uniqueId">
        element dans uniqueId
        <div>
            <h2 id="specialh2" class="classe1">Pro</h2>
            - Ex1
        </div>
        <div>
            - EX2
        </div>
    </section>
    <section>
        <h2>Skills</h2>
        <div class="classe1">
            -SK1
        </div>
        <div>
            -SK2
        </div>
        <div>
            -SK3
        </div>
    </section>
    <section>
        <h2>Formation</h2>
        <div>
            -F1
        </div>
        <div>
            -F2
        </div>
        <div>
            -F3
        </div>
    </section>
</main>
<footer>
    <div>
       autre, loisir
    </div>
</footer>*@

@*<div class="bloc bloc1">
    sdsdfsd
</div>
<div class="bloc">

</div>
<div class="bloc">

</div>
<div class="bloc">

</div>
<div class="bloc">

</div>
<div class="btn btn-secondary">Valider</div>*@

@*<header></header>
<main>
    <section class="left"></section>
    <section class="right"></section>
</main>
<footer></footer>*@
@*Exercice 1
<header></header>
<nav></nav>
<main>
    <section id="s1"></section>
    <section id="s2"></section>
    <section id="s3"></section>
    <section id="s4"></section>
</main>
<footer></footer>*@
<section>
    <div class="ecran">
        0
    </div>
    <div class="boutons">
        <div>C</div>
        <div>+/-</div>
        <div>%</div>
        <div class="orange">/</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div class="orange">X</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div class="orange">-</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div class="orange">+</div>
        <div id="zero">0</div>
        <div>,</div>
        <div class="orange">=</div>
    </div>
</section>