<Doctype !>
<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
        <header class="container-fluid">
            <nav class="row">
                <a class="col">Accueil</a>
                <a class="col">Personne</a>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
    </body>
</html>